---
- name: generate config for user
  docker_container:
    name: openvpn-user-conf
    image: pschiffe/openvpn
    pull: true
    state: started
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - '{{ openvpn_container_name }}-config:/etc/openvpn:z'
    detach: false
    env:
      CA_KEY: '{{ openvpn_container_ca_key }}'
    command: easyrsa build-client-full {{ openvpn_client_name }} nopass
  ignore_errors: true

- name: get user's config
  command: docker exec {{ openvpn_container_name }} ovpn_getclient {{ openvpn_client_name }}
  register: user_conf

- name: print user config
  debug:
    var: user_conf

- name: remove configuration openvpn container
  docker_container:
    name: openvpn-user-conf
    state: absent
